<!--

 =========================================================
 * Vue Black Dashboard PRO - v1.2.3
 =========================================================

 * Product Page: https://watheialabs.com/product/vue-black-dashboard-pro
 * Copyright 2019 Watheia Labs (https://watheialabs.com)

 * Coded by Watheia Labs

 =========================================================

 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="<%= webpackConfig.output.publicPath %>favicon.png"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Vue Black Dashboard PRO</title>
    <!-- Bootstrap core CSS     -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.5"
    />

    <!--  Fonts and icons     -->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800"
      rel="stylesheet"
    />
    <link
      href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"
      rel="stylesheet"
    />
  </head>
  <body class="sidebar-mini">
    <div class="wrapper" id="app"></div>
    <!-- built files will be auto injected -->
    <script src="https://polyfill.io/v2/polyfill.min.js?features=IntersectionObserver"></script>
  </body>
</html>
